<div class="container-fluid col-10">
    <div class="row">

        <div class="col-12">
            <div class="column-wrapper">
                <div class="column-title">
                    Manage your projects
                <hr>
                </div>
                <div class="column-content row">
                    <div class="info-column col-xl-4 col-lg-12">
                        <div class="info-section">
                            <i class="fa fa-tasks fa-3x"></i>
                            <h3>Create Projects</h3>
                            <p>With this website you can manage all your projects. Simply create an account and you can start creating your first project.</p>
                            <p>Using the simple form you can create your project. All you need is a name for your project.</p>
                            <p>Someone else already created the project? Click the join button for your project and you can access all its contents.</p>
                        </div>
                    </div>
                    <div class="info-column col-xl-4 col-lg-12">
                        <div class="info-section">
                            <i class="fa fa-line-chart fa-3x"></i>
                            <h3>Manage Sprints and Stories</h3>
                            <p>Create a sprint by filling out the form. All you need is a name, start date and end date.</p>
                            <p>To create an overview of what stories you want to do, you can add stories to the sprint by clicking on the 'Add Stories' button.</p>
                            <p>You can manage your progress by dragging your stories on the board. Doing this updates your Burndown Chart</p>
                        </div>
                    </div>
                    <div class="info-column col-xl-4 col-lg-12">
                        <div class="info-section">
                            <i class="fa fa-tags fa-3x"></i>
                            <h3>Define Roles</h3>
                            <p>You can define member roles on the Project Dashboard. This way you know what each members expertise is.</p>
                            <p>These roles have no extra value. It's just for your own benefit. To have a nice overview of all the members in your project.</p>
                            <p>To edit your roles, simply click on the Edit button on the Project Dashboard.</p>
                        </div>
                    </div>
                </div>
            </div>        
        </div>

    </div>

    <div class="row">

        <div class="col-12">
            <div class="column-wrapper">
                <div class="column-title">
                    Interactive Storyboard with Burndown Chart
                    <hr>
                </div>
                <div class="column-content">
                    <img src="../../../assets/storyboard2.gif">
                </div>
            </div>
        </div>

    </div>
</div>
